# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyDWZbIy-XAMHCGpxWOTkZDvsK6dRVyZkb4
REACT_APP_FIREBASE_AUTH_DOMAIN=destitutesofindia.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=destitutesofindia
REACT_APP_FIREBASE_STORAGE_BUCKET=destitutesofindia.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=319836772741
REACT_APP_FIREBASE_APP_ID=1:319836772741:web:0e62203ff64e2f76470cec
REACT_APP_FIREBASE_MEASUREMENT_ID=G-736D8K1EMP

# Razorpay Configuration
REACT_APP_RAZORPAY_KEY_ID=rzp_test_RBCRdbbNcgKd2Q
REACT_APP_RAZORPAY_KEY_SECRET=Fb0as8PzjBzWa87aIrCyuDdF

# Web3Forms Configuration
REACT_APP_WEB3FORMS_ACCESS_KEY=4d4f42a6-12b9-4131-a3f9-5e24b198c5d4

